<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %} - typeidea博客系统</title>
</head>
<body>
<div>
    顶部分类：
    {% for cate in navs %}
        <a href="{% url 'category-list' cate.id %}">{{ cate.name }}</a>
    {% endfor %}
</div>
<hr />

{% block main %}

{% endblock %}

<hr />
<div>
    底部分类：
    {% for cate in category %}
        <a href="{% url 'category-list' cate.id %}">{{ cate.name }}</a>
    {% endfor %}
</div>

<hr />
<div>
    侧边栏显示：
    {% for siderbar in siderbars %}
        <h4>{{ siderbar.title }}</h4>
        {{ siderbar.content_html }}
    {% endfor %}

</div>
</body>
</html>